<% if user_signed_in? %>
	<li><%= link_to 'Lojas', lojas_path %></li>
	<li><%= link_to 'Cardápios', cardapios_path %></li>
	<!--li><%= link_to 'Usuários', users_path %></li-->
	<!--li><%= link_to 'Conta', edit_user_registration_path %></li-->
	<li><%= link_to 'Sair', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
	<li><%= link_to 'Acessar', new_user_session_path %></li>
	<!--li><%= link_to 'Cadastrar', new_user_registration_path %></li-->
<% end %>
